<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        Header
    </div>
    <div>
        Body
    </div>
    <div>
        Footer
    </div>
</body>
</html>
