<nav class="menu">
    <a href="#home">HOME</a>
    <a href="#news">NEWS</a>
    <a href="#notification">NOTIFICATIONS</a>
    <div class="menu-log">
        <a href="#login">LOGIN</a>
    </div>
</nav>